services:
  valkey:
    image: valkey/valkey:latest
    container_name: valkey
    ports:
      - "6769:6379"
    volumes:
      - valkey-data:/data
      - type: bind
        source: ${PWD}/config/valkey.conf
        target: /usr/local/etc/valkey/valkey.conf

    command: valkey-server /usr/local/etc/valkey/valkey.conf --requirepass "${VALKEY_PASSWORD:-changeme}"
    environment:
      - VALKEY_PASSWORD=${VALKEY_PASSWORD:-changeme}
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "valkey-cli", "-a", "${VALKEY_PASSWORD:-changeme}", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  ws-storage:
    build:
      context: ../../..
      dockerfile: apps/ws-storage-server/example/Dockerfile
    container_name: server
    environment:
      PORT: 6970
      REDIS_URL: redis://default:${VALKEY_PASSWORD:-changeme}@valkey:6379
      REDIS_DB: 0
      DEBUG: true
    ports:
      - "${PORT:-6970}:3000"

volumes:
  valkey-data:
    driver: local
